forvaltningsstandard-begrepsbeskrivelser/files/StandardForBegrepsbeskrivelse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:difis standard for begrepsbeskrivelse:difis standard for begrepsbeskrivelse revisjon 2017:konstruksjonsmodell:standardforbegrepsbeskrivelse" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:difis standard for begrepsbeskrivelse:difis standard for begrepsbeskrivelse revisjon 2017:konstruksjonsmodell:standardforbegrepsbeskrivelse">
    <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2019-01-23T08:35:40.030+0100" name="generertDato"/>
            <xsd:attribute fixed="1.0" name="versjon"/>
            <xsd:attribute fixed="Konstruksjonsmodell for maskinlesbar versjon av Standard for begrepsbeskrivelse. " name="beskrivelse"/>
            <xsd:attribute fixed="StandardForBegrepsbeskrivelse" name="modellnavn"/>
            <xsd:attribute fixed="urn:difis standard for begrepsbeskrivelse:difis standard for begrepsbeskrivelse revisjon 2017:konstruksjonsmodell:standardforbegrepsbeskrivelse" name="navnerom"/>
            <xsd:attribute fixed="false" name="begrepsreferanse"/>
            <xsd:attribute fixed="true" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="AlternativFormulering">
        <xsd:complexContent>
            <xsd:extension base="Betydningsbeskrivelse"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="AnbefaltTerm">
        <xsd:complexContent>
            <xsd:extension base="Term"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="AssosiativRelasjon">
        <xsd:complexContent>
            <xsd:extension base="Betydningsbeskrivelse">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="beskrivelse" type="TekstMedSpraakkode"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Begrep">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="identifikator" type="URI"/>
            <xsd:element name="ansvarligVirksomhet" type="Organisasjonsnummer"/>
            <xsd:element maxOccurs="unbounded" name="betydningsbeskrivelse" type="Betydningsbeskrivelse"/>
            <xsd:element maxOccurs="unbounded" name="term" type="Term"/>
            <xsd:element minOccurs="0" name="fagomraade" type="TekstMedSpraakkode"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="bruksomraade" type="TekstMedSpraakkode"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="gyldighetsperiode" type="Gyldighetsperiode"/>
            <xsd:element minOccurs="0" name="kontaktpunkt" type="Vcard-Kind">
                <xsd:annotation>
                    <xsd:documentation>Feltet som helhet: brukes ikke i Lexaurus, iallefall ikke i noe synlig brukergrensenitt. Det som kommer nærmest er "Sist oppdatert av", som er et obligatorisk fritekstfelt der et konkret navn på en person er oppgitt.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="sistOppdatert" type="Dato"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="erstatter" type="Begrep"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="erstattesAv" type="Begrep"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="begrepsrelasjon" type="Begrepsrelasjon"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="seOgsaa" type="Begrep"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="Begrepsrelasjon">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sistOppdatert" type="Dato"/>
            <xsd:element minOccurs="0" name="assosiertBegrep" type="Begrep"/>
            <xsd:element minOccurs="0" name="overordnetBegrep" type="Begrep"/>
            <xsd:element minOccurs="0" name="underordnetBegrep" type="Begrep"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Begrepssamling">
        <xsd:sequence>
            <xsd:element name="navn" type="Tekst"/>
            <xsd:element name="identifikator" type="URI"/>
            <xsd:element name="ansvarligVirksomhet" type="Organisasjonsnummer"/>
            <xsd:element minOccurs="0" name="beskrivelse" type="Tekst"/>
            <xsd:element minOccurs="0" name="kontaktpunkt" type="Vcard-Kind"/>
            <xsd:element maxOccurs="unbounded" name="begrep" type="Begrep"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="Betydningsbeskrivelse">
        <xsd:sequence>
            <xsd:element name="tekst" type="TekstMedSpraakkode">
                <xsd:annotation>
                    <xsd:documentation>




</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="kildebeskrivelse" type="Kildebeskrivelse"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="merknad" type="TekstMedSpraakkode"/>
            <xsd:element minOccurs="0" name="eksempel" type="TekstMedSpraakkode"/>
            <xsd:element minOccurs="0" name="maalgruppe" type="Maalgruppe"/>
            <xsd:element minOccurs="0" name="omfang" type="URITekst"/>
            <xsd:element minOccurs="0" name="sistOppdatert" type="Dato"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Datastrukturterm">
        <xsd:complexContent>
            <xsd:extension base="Term"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Definisjon">
        <xsd:complexContent>
            <xsd:extension base="Betydningsbeskrivelse"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="FraraadetTerm">
        <xsd:complexContent>
            <xsd:extension base="Term"/>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="GeneriskRelasjon">
        <xsd:complexContent>
            <xsd:extension base="Begrepsrelasjon">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="inndelingskriterium" type="TekstMedSpraakkode"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PartitivRelasjon">
        <xsd:complexContent>
            <xsd:extension base="Begrepsrelasjon">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="inndelingskriterium" type="TekstMedSpraakkode"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="Term">
        <xsd:sequence>
            <xsd:element name="navn" type="TekstMedSpraakkode"/>
            <xsd:element minOccurs="0" name="sistOppdatert" type="Dato"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TillattTerm">
        <xsd:complexContent>
            <xsd:extension base="Term">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="maalgruppe" type="Maalgruppe"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Gyldighetsperiode">
        <xsd:annotation>
            <xsd:documentation>Helt nyopprettet datatype, fordi den opprinnelige datatypen ("Periode") var for spesifikk (klokkeslett).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="Periode">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="gyldigFraOgMed" type="Dato"/>
                    <xsd:element minOccurs="0" name="gyldigTilOgMed" type="Dato"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Kildebeskrivelse">
        <xsd:annotation>
            <xsd:documentation>Ved bruk av egenskapen "kildeTilDefinisjon" må minst en av de to dataegenskapene i "Kilde" brukes</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="kilde" type="URITekst"/>
            <xsd:element minOccurs="0" name="forholdTilKilde" type="ForholdTilKilde"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TekstMedSpraakkode">
        <xsd:sequence>
            <xsd:element name="tekst" type="Tekst"/>
            <xsd:element name="spraakMaalform" type="Spraakkode"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="URITekst">
        <xsd:annotation>
            <xsd:documentation>Ved bruk av egenskapen "kildeTilDefinisjon" må minst en av de to dataegenskapene i "Kilde" brukes</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="URI" type="URI"/>
            <xsd:element minOccurs="0" name="tekst" type="Tekst"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Vcard-Kind">
        <xsd:restriction base="Tekst"/>
    </xsd:simpleType>
    <xsd:simpleType name="ForholdTilKilde">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="sitatFraKilde"/>
            <xsd:enumeration value="basertPaaKilde"/>
            <xsd:enumeration value="egendefinert"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Maalgruppe">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="allmennheten"/>
            <xsd:enumeration value="fagspesialist"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Relasjonstype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="assosiativ"/>
            <xsd:enumeration value="generisk"/>
            <xsd:enumeration value="partitiv"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Spraakkode">
        <xsd:annotation>
            <xsd:documentation>koder for entydig angivelse av spesifike språk etter ISO 639-1</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="no"/>
            <xsd:enumeration value="nb">
                <xsd:annotation>
                    <xsd:documentation>bokmål</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="nn">
                <xsd:annotation>
                    <xsd:documentation>nn</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="sv">
                <xsd:annotation>
                    <xsd:documentation>svensk</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="da">
                <xsd:annotation>
                    <xsd:documentation>dansk</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="en"/>
            <xsd:enumeration value=".."/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Tekst">
        <xsd:annotation>
            <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett

</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="URI">
        <xsd:annotation>
            <xsd:documentation>En URI (Uniform Resource Identifier) er en kompakt streng av tegn som identifiserer en abstrakt eller fysisk ressurs. En URI kan videre klassifiseres som en lokator eller et navn, eller begge deler.[Wikipedia]

</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst"/>
    </xsd:simpleType>
    <xsd:simpleType name="Organisasjonsnummer">
        <xsd:annotation>
            <xsd:documentation>9 sifret nummer gitt de som er registrert i Enhetsregisteret</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst"/>
    </xsd:simpleType>
    <xsd:complexType name="Periode">
        <xsd:annotation>
            <xsd:documentation>tiden mellom to tidspunkter

</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="start" type="DatoKlokkeslett">
                <xsd:annotation>
                    <xsd:documentation>Første tidspunkt i perioden. Tidspunktet er med i perioden.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="slutt" type="DatoKlokkeslett">
                <xsd:annotation>
                    <xsd:documentation>Sluttidspunktet for perioden. Er ikke med i selve perioden. </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Dato">
        <xsd:annotation>
            <xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i  ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times).

Eksempel : 1998-12-21 eller 19981221.

</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:simpleType name="DatoKlokkeslett">
        <xsd:annotation>
            <xsd:documentation>en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times).</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Dato"/>
    </xsd:simpleType>
</xsd:schema>
